body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header{
    height: 20vh;
}
.body{
    height: 70vh;
    width: 100vh;
    display: flex;
    justify-content: center;

}
footer{
    height: 10vh;
}


.gameSelection {
    display: none;
}

.gameBoard {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 70%;
    justify-content: space-between;
    align-items: flex-start;
}

.gameBoard div {
    background-color: aqua;
    box-sizing: border-box;
    flex-basis: 30%;
    height: 30%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}