@font-face {
    font-family: 'Pokemon Solid';
    src: url('./files/font/PokemonSolidNormal.woff2') format('woff2'),
         url('./files/font/PokemonSolidNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Pokemon RGB';
    src: url('./files/font/PokemonGB.woff2') format('woff2'),
         url('./files/font/PokemonGB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    background-image: url('./files/images/wp2690555.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    min-width: 800px;
}

header{
    display: flex;
    align-items: center;
    font-family: 'Pokemon Solid';
    color: yellow;
    -webkit-text-stroke: 3px rgb(11, 25, 158);
    letter-spacing: -5px;
    font-size: 40px;
    height: 15%;
}
.body{
    box-shadow:0px 0px 20px 20px #7af57a;
    font-family: 'Pokemon RGB';
    box-sizing: border-box;
    padding: 0.5% 2%; 
    background-color: rgb(67, 66, 65, 0.8);
    border-radius: 30px;
    min-height: 510px;
    height: 78vh;
    min-width: 750px;
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: visible;
}




.gameSelection {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.selectionScreen{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.computerName{
    display: flex;
}

.pkmnSelection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 85%;
    

}

.players {
    display: flex;
    justify-content: center;
    min-width: 320px;
    width: 40%;
    height: 90%;
    
}

.player1,
.player2,
.player1s,
.player2s {
    min-height: 360px;
    height: 105%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(127, 255, 0, .5);
    border-radius: 20px;
}

.selectionHeader h3 {
    font-size: 15px;
}



.pkmnTAB {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 0;
    padding-bottom: 87%;
    min-width: 270px;
    background-color: rgb(165, 42, 42, 0);
    justify-content: center;
    padding-top: 1%;

}



.icon{
    background-color: rgb(0, 0, 0, .5);
    border-radius: 10px;
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    box-sizing: border-box;
    margin: 0.8%;
}

.selectedP1 {
    background-color: rgb(23, 54, 210);
}

.selectedP2 {
    background-color: rgb(210, 73, 23);
}

.icon img {
    width: 50%;
    padding: 25%;
}

.icon img:hover {
    width: 80%;
    padding: 10%;
}

.rounds {
    letter-spacing: -2px;
    color: rgb(0, 0, 91);
    font-weight: 900;
    font-size: 10px;
    width: 7%;
}

.rounds input {
    padding-top: 5%;
    text-align: center;
    vertical-align: middle;
    caret-color: transparent;
    background-color: #7af57a;
    color: deeppink;
    font-family: 'Pokemon Solid';
    width: 70%;
    height: 30px;
    font-size: 25px;
}


.missingInfo {
    color: rgb(186, 8, 14);


}

.start {
    margin-bottom: 10px;
}


.P1Selected,
.P2Selected {
    height: 50%;
}






.gameBoard {
    display: flex;
    flex-wrap: wrap;
    width: 60vh;
    height: 60vh;
    min-width: 250px;
    min-height: 250px;
    justify-content: space-between;
    align-items: flex-start;
}

.gameBoard div {
    background-color: aqua;
    box-sizing: border-box;
    border-radius: 10px;
    flex-basis: 30%;
    height: 30%;
    min-height: 70px;
    min-width: 70px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.gameBoard div img {
    width: 80%;
    height: 80%;
}

.inactive {
    display: none;
}

.emptyField {
    border: solid red 2px;
}

.victoryPopUp.active {
    height: 100%;
    width: 100%;
    background-color: rgb(110, 110, 110, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.victoryWindow{
    position: absolute;
    top: 50%;
    left: -1150%; /* we send the window where it cant be seen*/  
    opacity: 1; /* we make the window invisible*/
    background-color: rgb(122, 245, 122, 0);
    color: rgb(170, 0, 127);
    font-family: 'Pokemon Solid';
    font-size: 40px;
    padding: 20px 30px;
    width: 600px;

    border-radius: 20px;
    transform: translate(300%, -50%) scale(1); /* this values are relative to the location it will have when the animation is over*/ 
    transition: left 400ms ease-in-out 0ms,        /* from  active to non active*/

                transform 0ms ease-in-out 400ms;
}


.victoryWindow.active {
    left: 50%;
    top: 50%; /* set the window at the middle of the y axis*/
    opacity: 1; /* we make the window visible when active */ 
    transform: translate(-50%, -50%) scale(1); /* 0 is the middle of the x axis, -50% of the height of this window, it means it moves upwards half of its size from the middle of the screen we sat that was 50%, the window is located exactly after the 50% so we need to re center it with this */
    transition: top 0ms ease-in-out 0ms,       /* from non active to active */
                opacity 200ms ease-in-out 0ms,
                transform 300ms ease-in-out 0ms;
}


.score{
    position: relative;
    height: 80%;
    width: 30%;
    background-color: rgb(0, 100, 0, .8);
    border-radius: 30px;
    font-family: 'Pokemon Solid';
    font-size: 35px;
    
}

.boardRounds{
    letter-spacing: 2px;
    margin-top: 70px;
    color: rgb(119, 0, 125);
    -webkit-text-stroke: 1.5px rgb(216, 250, 22);
}

.results{
    display: flex;
    width: 100%;
    margin-top: 70px;
}

.P1Score {
    width: 50%;
    color: rgb(23, 54, 210);
}

.P2Score {
    width: 50%;
    color: rgb(210, 48, 23);
}

.finalScore {
    color: yellow;
    -webkit-text-stroke: 3px rgb(11, 25, 158);
}

input {
    border-radius: 7px;
}



